# System files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Optional: ignore image source files if you're optimizing them for web
# *.psd
# *.ai
# *.eps
